@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&family=Shadows+Into+Light&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.h4Tittle, .h3Tittle {
  margin-top: 30px;
  margin-bottom: 10px;
}

.h1Tittle {
  font-size: 1.8rem;
  font-family: Poppins, sans-serif;
  font-weight: 600;
}

.h2Tittle {
  font-size: 1.5rem;
  font-family: Poppins, sans-serif;
}

.h3Tittle {
  font-size: 1rem;
  font-family: Poppins, sans-serif;
}

.h4Tittle {
  font-size: 1.3rem;
  font-family: Poppins, sans-serif;
}

.parrafo {
  font-size: 1rem;
  font-family: Poppins, sans-serif;
  font-weight: 200;
  text-align: justify;
}

.borde {
  border-top: 5px solid black;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  /************************************************
               MEDIA QUERIES MAIN
  ************************************************/
  .h1Tittle {
    font-size: 1.2rem;
  }
  .h2Tittle {
    font-size: 1.2rem;
  }
  .h4Tittle {
    font-size: 1rem;
  }
  .parrafo {
    font-size: 1rem;
  }
}
header {
  background: linear-gradient(to right, #0a0b0c, #303137);
}
header .nav {
  padding: 0px;
}
header .nav img {
  width: 50px;
  height: 50px;
}
header .nav img:hover {
  background-color: aqua;
  border-radius: 50%;
}
header .nav .lista {
  width: 100%;
}
header .nav .lista li {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: Shadows, sans-serif;
  font-weight: 400;
}
header .nav .lista li .active {
  background: linear-gradient(to right, rgba(11, 66, 121, 0.5921568627), rgba(90, 113, 147, 0.399));
  border-radius: 5px;
}
header .navbar-dark .navbar-nav .nav-link:hover {
  background: linear-gradient(to right, rgba(11, 66, 121, 0.5921568627), rgba(90, 113, 147, 0.399));
  border-radius: 5px;
  animation: mover 1.7s ease-in;
}
@keyframes mover {
  15% {
    transform: translateY(2px);
  }
  30% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
  65% {
    transform: translateY(-2px);
  }
  80% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}

/***** Pantalla Index *****/
main {
  background-image: url("../assets/img/storm_background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
}
main .contenedorInicio {
  background: rgba(0, 0, 0, 0.473);
  height: 110px;
  width: 700px;
  border-radius: 5px;
}
main .contenedorInicio .tituloPrincipal {
  font-size: 40px;
  font-family: "Shadows Into Light", cursive;
  font-weight: bold;
}
main .carousel-item {
  height: 80vh;
}
main .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .carousel-item .contenedorIndex {
  background-color: rgba(0, 0, 0, 0.603);
}
main .contenedorCard {
  margin: 0 auto;
  gap: 3rem;
}
main .contenedorCard .cardRecomendado {
  background: linear-gradient(to right, rgb(23, 29, 35), rgba(30, 39, 47, 0.479));
  height: auto;
  width: 350px;
  border-radius: 5px;
}
main .contenedorCard .cardRecomendado .imgInicio {
  width: 200px;
  height: 320px;
}

/***** Pantalla Analisis *****/
main .divStarWars .hoverAnalisis:hover, main .divDredge .hoverAnalisis:hover, main .divStreetFighter .hoverAnalisis:hover, main .divNoMamSky .hoverAnalisis:hover, main .divDiablo4 .hoverAnalisis:hover {
  background: linear-gradient(to right, rgba(250, 250, 250, 0.7490196078), rgba(119, 122, 125, 0.075));
  border-radius: 5px;
}

main .divStarWars .contenedorFondoAnalisis .contenedorAnalisis, main .divDredge .contenedorFondoAnalisis .contenedorAnalisis, main .divStreetFighter .contenedorFondoAnalisis .contenedorAnalisis, main .divNoMamSky .contenedorFondoAnalisis .contenedorAnalisis, main .divDiablo4 .contenedorFondoAnalisis .contenedorAnalisis {
  background-color: rgba(0, 0, 0, 0.525);
  height: auto;
}

main {
  background-image: url("../assets/img/storm_background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
}
main .divDiablo4 {
  height: 600px;
  background-image: url("../assets/img/diablo_4.png");
  border-bottom: 5px solid black;
  background-position: top;
  border-top: 5px solid black;
}
main .divDiablo4 .contenedorFondoAnalisis {
  width: 600px;
}
main .divNoMamSky {
  height: 600px;
  background-image: url("../assets/img/no_man_sky.png");
  border-bottom: 5px solid black;
}
main .divNoMamSky .contenedorFondoAnalisis {
  width: 600px;
}
main .divStreetFighter {
  height: 600px;
  background-image: url("../assets/img/street_fighter_6.jpg");
  border-bottom: 5px solid black;
  background-position-x: center;
  background-position-y: center;
}
main .divStreetFighter .contenedorFondoAnalisis {
  width: 600px;
}
main .divDredge {
  height: 600px;
  background-image: url("../assets/img/dredge.jpg");
  border-bottom: 5px solid black;
  background-position: bottom;
}
main .divDredge .contenedorFondoAnalisis {
  width: 600px;
}
main .divStarWars {
  height: 600px;
  background-image: url("../assets/img/star_war_survivor.jpg");
  border-bottom: 5px solid black;
  background-position-y: center;
  margin-bottom: 50px;
}
main .divStarWars .contenedorFondoAnalisis {
  width: 600px;
}
/***** Pantalla Avances *****/
main .divContenedorAvance2 .iFrame, main .divContenedorAvance2 .imagenAvances, main .divContenedorAvance1 .iFrame, main .divContenedorAvance1 .imagenAvances {
  width: 370px;
  height: 200px;
}

main {
  background-image: url("../assets/img/storm_background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
}
main .divContenedorAvance1 {
  background-image: url("../assets/img/fondo_analisis_1.jpg");
  border-bottom: 5px solid black;
  border-top: 5px solid black;
}
main .divContenedorAvance2 {
  background-image: url("../assets/img/fondo_analisis_2.jpg");
  border-bottom: 5px solid black;
}
/***** Pantalla Guias *****/
main {
  background-image: url("../assets/img/storm_background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
}
main .parrafoColor {
  color: rgb(255, 255, 255);
}
main .parrafoHover:hover {
  color: aqua;
}

/***** Pantalla Contacto *****/
main .gmap_canvas, main .mapouter {
  height: 370px;
  width: 536px;
}

main {
  background-image: url("../assets/img/storm_background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
}
main .formulario {
  width: 60%;
}
main .formulario .btnForm {
  background-color: rgb(22, 78, 139);
}
main .formulario .btnForm:hover {
  background-color: rgb(58, 113, 172);
}
main .mapouter {
  position: relative;
  text-align: right;
}
main .gmap_canvas {
  overflow: hidden;
  background: none !important;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  /***** Pantalla Index *****/
  main .contenedorInicio {
    height: auto;
    width: 90%;
  }
  main .contenedorInicio .tituloPrincipal {
    font-size: 25px;
  }
  main .carousel-item {
    height: auto;
  }
  main .contenedorCard {
    flex-direction: column;
  }
  main .contenedorCard .cardRecomendado {
    width: 100%;
  }
  /***** Pantalla Analisis *****/
  main .divDiablo4 {
    background-image: url("../assets/img/diablo_4_movil.png");
  }
  main .divNoMamSky {
    background-image: url("../assets/img/no_man_sky_movil.png");
  }
  main .divStreetFighter {
    background-image: url("../assets/img/street_fighter_6_movil.png");
  }
  main .divDredge {
    background-image: url("../assets/img/dredge_movil.png");
  }
  main .divStarWars {
    background-image: url("../assets/img/star_war_survivor_movil.png");
  }
  /***** Pantalla Avances *****/
  main .invertir {
    flex-direction: column-reverse;
  }
  main .divContenedorAvance1 .imagenAvances {
    width: 100%;
    height: auto;
  }
  main .divContenedorAvance1 .iFrame {
    width: 100%;
    height: 200px;
  }
  main .divContenedorAvance2 .imagenAvances {
    width: 100%;
    height: auto;
  }
  main .divContenedorAvance2 .iFrame {
    width: 100%;
    height: 200px;
  }
  /***** Pantalla Contacto *****/
  main .formulario {
    width: 100%;
  }
}
footer .divFooter {
  background: linear-gradient(to right, #0a0b0c, #303137);
}
footer .divFooter img {
  width: 30px;
  height: 40px;
  margin-right: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  footer .links {
    width: 100%;
  }
}

/*# sourceMappingURL=estilos.css.map */
