footer{
    .divFooter{
        background: $degradado-principal;

        img{
            width: map-get($map: $medidas-estandar, $key: 30);
            height: map-get($map: $medidas-estandar, $key: 40);
            margin-right: map-get($map: $medidas-estandar, $key: 10);
            padding-bottom: map-get($map: $medidas-estandar, $key: 10);
            margin-left: map-get($map: $medidas-estandar, $key: 10);
        }
    }
}

@media screen and (min-width:0px) and (max-width: 768px){
    footer{
        .links{
            width: map-get($map: $porcentajes-estandar, $key: 100);
        }
    }
}