header{
    background: $degradado-principal;
    .nav{
        padding: map-get($map: $medidas-estandar, $key: 0);
        img{
            width: map-get($map: $medidas-estandar, $key: 50);
            height: map-get($map: $medidas-estandar, $key: 50);
        }
        img:hover{
            background-color:$color-estandar-1;
            border-radius: map-get($map: $porcentajes-estandar, $key: 50);
            box-shadow: $color-estandar-10;
        }
        .lista{
            width: map-get($map: $porcentajes-estandar, $key: 100);
            li{
                font-size: $fuente-escala-1;
                text-transform: $fuente-forma-mayus;
                font-family: $tipo-fuente-estandar-3;
                font-weight: 400;
                .active{
                    background: $degradado-menu;
                    border-radius: $borde-estandar-1;
                }
            }
        } 
    }
    .navbar-dark{ 
        .navbar-nav{ 
            .nav-link:hover{
                background: $degradado-menu;
                border-radius: $borde-estandar-1;
                animation: mover 1.2s ease-in;
            }
        }
    }
    @keyframes mover {
        15% {
            transform: translateY(2px);}
        30% {
            transform: translateY(-2px);}
        50% {
            transform: translateY(2px);}
        65% {
            transform: translateY(-2px);}
        80% {
            transform: translateY(1px);}
        100% {
            transform: translateY(0);}
    }
}