header{
    background: $degradado-principal;
    .nav{
        padding: map-get($map: $medidas-estandar, $key: 0);
        img{
            width: map-get($map: $medidas-estandar, $key: 50);
            height: map-get($map: $medidas-estandar, $key: 50);
        }
        img:hover{
            background-color:$color-estandar-1;
            border-radius: map-get($map: $porcentajes-estandar, $key: 50);
        }
        .lista{
            width: map-get($map: $porcentajes-estandar, $key: 100);
            li{
                font-size: $fuente-escala-1;
                text-transform: $fuente-forma-mayus;
                font-family: $tipo-fuente-estandar-3;
                font-weight: 400;
                .active{
                    background: $degradado-menu;
                    border-radius: $borde-estandar-1;
                }
            }
        } 
    }
    .navbar-dark .navbar-nav .nav-link:hover{
        background: $degradado-menu;
        border-radius: $borde-estandar-1;
    }
}