/***** Pantalla Index *****/

main{
    @include propiedades-main;

    .contenedorInicio{
        @include propiedades-tarjetas($color-estandar-2, $medida-estandar-110, $medida-estandar-700, $borde-estandar-1);

        .tituloPrincipal{
            font-size: map-get($map: $medidas-estandar, $key: 40);
            font-family: $tipo-fuente-estandar-2;
            font-weight: $fuente-forma-neg;
        }
    }
    
    .carousel-item{
        height: 80vh;
        img{
            width: map-get($map: $porcentajes-estandar, $key: 100);
            height: map-get($map: $porcentajes-estandar, $key: 100);
            object-fit: $imagen-espacio;
        }
        .contenedorIndex{
            background-color: $color-estandar-3;
        }
    }
    
    .contenedorCard{
        margin:0 map-get($map: $posicion-estardar, $key: automatico);
        gap:3rem;
        .cardRecomendado{
            @include propiedades-tarjetas($color-estandar-4, $posicion-estandar-auto, $medida-estandar-350, $borde-estandar-1);

            .imgInicio{
                width: map-get($map: $medidas-estandar, $key: 200);
                height: map-get($map: $medidas-estandar, $key: 320);
            }
        }
    }
}

/***** Pantalla Analisis *****/

%hover-analisis{
    background: $color-estandar-5;
    border-radius: $borde-estandar-1;
}

%contenedor-analisis{
    background-color: $color-estandar-6;
    height: map-get($map: $posicion-estardar, $key: automatico);
}

main{
    @include propiedades-main;

    .divDiablo4{
        @include propiedades-img-analisis($imagen-fondo:$imagen-fondo-diablo-1, 
                                          $pos-img-fondo:$posicion-estandar-top,   
                                          $borde-arriba:$borde-estandar-2);

        .hoverAnalisis:hover{
            @extend %hover-analisis;
        }
        .contenedorFondoAnalisis{
            width: map-get($map: $medidas-estandar, $key: 600);
            .contenedorAnalisis{
                @extend %contenedor-analisis;
            }
        }
    }
    
    .divNoMamSky{
        @include propiedades-img-analisis($imagen-fondo:$imagen-fondo-sky-1);

        .hoverAnalisis:hover{
            @extend %hover-analisis;
        }
        .contenedorFondoAnalisis{
            width: map-get($map: $medidas-estandar, $key: 600);
            .contenedorAnalisis{
                @extend %contenedor-analisis;
            }
        }
    }
    
    .divStreetFighter{
        @include propiedades-img-analisis($imagen-fondo:$imagen-fondo-street-1,
                                          $pos-img-fondo-x:$posicion-estandar-center,
                                          $pos-img-fondo-y:$posicion-estandar-center,
                                          );

        .hoverAnalisis:hover{
            @extend %hover-analisis;
        }
        .contenedorFondoAnalisis{
            width: map-get($map: $medidas-estandar, $key: 600);
            .contenedorAnalisis{
                @extend %contenedor-analisis;
            }
        }
    }
    
    .divDredge{
        @include propiedades-img-analisis($imagen-fondo:$imagen-fondo-dredge-1,
                                          $pos-img-fondo:$posicion-estandar-bottom);

        .hoverAnalisis:hover{
            @extend %hover-analisis;
        }
        .contenedorFondoAnalisis{
            width: map-get($map: $medidas-estandar, $key: 600);
            .contenedorAnalisis{
                @extend %contenedor-analisis;
            }
        }
    }
    
    .divStarWars{
        @include propiedades-img-analisis($imagen-fondo:$imagen-fondo-star-1,
                                          $pos-img-fondo-y:$posicion-estandar-center,
                                          $margen-abajo:$medida-estandar-50);

        .hoverAnalisis:hover{
            @extend %hover-analisis;
        }
        .contenedorFondoAnalisis{
            width: map-get($map: $medidas-estandar, $key: 600);
            .contenedorAnalisis{
                @extend %contenedor-analisis;
            }
        }
    }
}

/***** Pantalla Avances *****/

%contenedor-img{
    width: map-get($map: $medidas-estandar, $key: 370);
    height: map-get($map: $medidas-estandar, $key: 200);
    transition: $animacion-transicion; 
}

%contenedor-iframes{
    width: map-get($map: $medidas-estandar, $key: 1000);
    height: map-get($map: $medidas-estandar, $key: 563);
}

main{
    @include propiedades-main;

    .divContenedorAvance1{
        background-image: $imagen-fondo-avance-1;
        border-bottom: $borde-estandar-2;
        border-top: $borde-estandar-2;
        .anclaImagen{
            overflow: hidden;
            .imagenAvances{
                @extend %contenedor-img;  
            }
            .imagenAvances:hover{
                transform: $animacion-tranformacio;
            }
        }
        .iFrame{
            @extend %contenedor-iframes;
        }
        
    }
    
    .divContenedorAvance2{
        background-image: $imagen-fondo-avance-2;
        border-bottom: $borde-estandar-2;
        .anclaImagen{
            overflow: hidden;
            .imagenAvances{
                @extend %contenedor-img;
            }
            .imagenAvances:hover{
                transform: $animacion-tranformacio;
            }
        }
        .iFrame{
            @extend %contenedor-iframes;
        }
    }
}

/***** Pantalla Guias *****/

main{
    @include propiedades-main;

    .parrafoColor{
        color: $color-estandar-7;
    }
    
    .parrafoHover:hover{
        color:$color-estandar-1
    }
}

/***** Pantalla Contacto *****/

%contenedor-mapa{
    height:map-get($map: $medidas-estandar, $key: 370);
    width:map-get($map: $medidas-estandar, $key: 536);
}

main{
    @include propiedades-main;
        
    .formulario{
        width: map-get($map: $porcentajes-estandar, $key: 60);

        .btnForm{
            background-color: $color-estandar-8;
        }
        
        .btnForm:hover{
            background-color: $color-estandar-9;
        }
    }
    .mapouter{
        position:$posicion-estandar-relative;
        text-align:$posicion-estandar-rigth;
        @extend %contenedor-mapa;
    }
    
    .gmap_canvas{
        overflow:hidden;
        background:none!important;
        @extend %contenedor-mapa;
    }
}

@media screen and (min-width:0px) and (max-width: 768px){
    /***** Pantalla Index *****/

    main{
        .contenedorInicio{
            height: map-get($map: $posicion-estardar, $key: automatico);
            width: map-get($map: $porcentajes-estandar, $key: 90);
            .tituloPrincipal{
                font-size: map-get($map: $medidas-estandar, $key: 25);
            }
        }
    
        .carousel-item{
            height: map-get($map: $posicion-estardar, $key: automatico);
        }
    
        .contenedorCard{
            flex-direction: $direccion-estandar-column;
            .cardRecomendado{
                width: map-get($map: $porcentajes-estandar, $key: 100);
            }
        }
    }

    /***** Pantalla Analisis *****/
    main{
        .divDiablo4{
            background-image: $imagen-fondo-diablo-2;
        }
    
        .divNoMamSky{
            background-image: $imagen-fondo-sky-2;
        }
    
        .divStreetFighter{
            background-image: $imagen-fondo-street-2;
        }
    
        .divDredge{
            background-image: $imagen-fondo-dredge-2;
        }
    
        .divStarWars{
            background-image: $imagen-fondo-star-2;
        }
    }

    /***** Pantalla Avances *****/

    main{
        .invertir{
            flex-direction: $direccion-estandar-col-rev;
        }

        .divContenedorAvance1{
            background-image: $imagen-fondo-avance-1-mini;
            background-size: map-get($map: $porcentajes-estandar, $key: 100) 
                             map-get($map: $porcentajes-estandar, $key: 100);
            .imagenAvances{
                width: map-get($map: $porcentajes-estandar, $key: 100);
                height: map-get($map: $posicion-estardar, $key: automatico);
            }

            .iFrame{
                width: map-get($map: $porcentajes-estandar, $key: 100);
                height:map-get($map: $medidas-estandar, $key: 200);
            }
        }

        .divContenedorAvance2{
            background-image: $imagen-fondo-avance-2-mini;
            background-size: map-get($map: $porcentajes-estandar, $key: 100) 
                             map-get($map: $porcentajes-estandar, $key: 100);;
            .imagenAvances{
                width: map-get($map: $porcentajes-estandar, $key: 100);
                height: map-get($map: $posicion-estardar, $key: automatico);
            }

            .iFrame{
                width: map-get($map: $porcentajes-estandar, $key: 100);
                height:map-get($map: $medidas-estandar, $key: 200);
            }
        }
    }

    /***** Pantalla Contacto *****/

    main{  
        .formulario{
            width: map-get($map: $porcentajes-estandar, $key: 100);;
        }
    }
}