@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&family=Shadows+Into+Light&display=swap');

%margenes-texto{
    margin-top: map-get($map: $medidas-estandar, $key: 30);
    margin-bottom: map-get($map: $medidas-estandar, $key: 10);
}

.h1Tittle{
    @include propiedades-texto($fuente-escala-5, $tipo-fuente-estandar-1);
    font-weight: 600;
}

.h2Tittle{
    @include propiedades-texto($fuente-escala-4, $tipo-fuente-estandar-1);
}

.h3Tittle{
    @include propiedades-texto($fuente-escala-1, $tipo-fuente-estandar-1);
    @extend %margenes-texto;
}

.h4Tittle{
    @include propiedades-texto($fuente-escala-3, $tipo-fuente-estandar-1);
    @extend %margenes-texto;
}

.parrafo{
    @include propiedades-texto($fuente-escala-1, $tipo-fuente-estandar-1);
    font-weight: 200;
    text-align:$fuente-forma-alin;
}

.borde{
    border-top: $borde-estandar-2;
}

@media screen and (min-width:0px) and (max-width: 768px){

    /************************************************
                 MEDIA QUERIES MAIN
    ************************************************/
    
    .h1Tittle{
        font-size: $fuente-escala-2;
    }

    .h2Tittle{
        font-size: $fuente-escala-2;
    }

    .h4Tittle{
        font-size: $fuente-escala-1;
    }

    .parrafo{
        font-size: $fuente-escala-1;
    }
}