$degradado-principal:linear-gradient(to right, #0a0b0c, #303137);
$degradado-menu:linear-gradient(to right, #0b427997, rgba(90, 113, 147, 0.399));

$animacion-transicion:transform 0.5s linear;
$animacion-tranformacio:scale(1.1);

$borde-estandar-1:5px;
$borde-estandar-2:5px solid black;

$direccion-estandar-column:column;
$direccion-estandar-col-rev:column-reverse;

$fuente-escala-1:1rem;
$fuente-escala-2:1.2rem;
$fuente-escala-3:1.3rem;
$fuente-escala-4:1.5rem;
$fuente-escala-5:1.8rem;

$fuente-forma-mayus:uppercase;
$fuente-forma-neg:bold;
$fuente-forma-alin:justify;

$tipo-fuente-estandar-1:Poppins, sans-serif;
$tipo-fuente-estandar-2:'Shadows Into Light', cursive;
$tipo-fuente-estandar-3:Shadows, sans-serif;

$imagen-fondo-main:url('../assets/img/storm_background.jpg');
$imagen-fondo-diablo-1:url('../assets/img/diablo_4.jpg');
$imagen-fondo-diablo-2:url('../assets/img/diablo_4_movil.jpg');
$imagen-fondo-sky-1:url('../assets/img/no_man_sky.jpg');
$imagen-fondo-sky-2:url('../assets/img/no_man_sky_movil.jpg');
$imagen-fondo-street-1:url('../assets/img/street_fighter_6.jpg');
$imagen-fondo-street-2:url('../assets/img/street_fighter_6_movil.jpg');
$imagen-fondo-dredge-1:url('../assets/img/dredge.jpg');
$imagen-fondo-dredge-2:url('../assets/img/dredge_movil.jpg');
$imagen-fondo-star-1:url('../assets/img/star_war_survivor.jpg');
$imagen-fondo-star-2:url('../assets/img/star_war_survivor_movil.jpg');
$imagen-fondo-avance-1:url('../assets/img/fondo_analisis_1.jpg');
$imagen-fondo-avance-1-mini:url('../assets/img/fondo_analisis_1_mini.jpg');
$imagen-fondo-avance-2:url('../assets/img/fondo_analisis_2.jpg');
$imagen-fondo-avance-2-mini:url('../assets/img/fondo_analisis_2_mini.jpg');

$imagen-espacio:cover;
$imagen-agregado:fixed;

$color-estandar-1:rgb(0, 255, 255);
$color-estandar-2:rgba(0, 0, 0, 0.473);
$color-estandar-3:rgba(0, 0, 0, 0.603);
$color-estandar-4:linear-gradient(to right, rgb(23, 29, 35), rgba(30, 39, 47, 0.479));
$color-estandar-5:linear-gradient(to right, #fafafabf, rgba(119, 122, 125, 0.075));
$color-estandar-6:rgba(0, 0, 0, 0.525);
$color-estandar-7:rgb(255, 255, 255);
$color-estandar-8:rgb(22, 78, 139);
$color-estandar-9:rgb(58, 113, 172);
$color-estandar-10:0 0 10px rgb(0, 255, 255);

$porcentaje-estandar-50:50%;
$porcentaje-estandar-60:60%;
$porcentaje-estandar-90:90%;
$porcentaje-estandar-100:100%;

$porcentajes-estandar:(
    50:$porcentaje-estandar-50,
    60:$porcentaje-estandar-60,
    90:$porcentaje-estandar-90,
    100:$porcentaje-estandar-100
);

$posicion-estandar-top:top;
$posicion-estandar-center:center;
$posicion-estandar-bottom:bottom;
$posicion-estandar-auto:auto;
$posicion-estandar-rigth:right;
$posicion-estandar-relative:relative;

$posicion-estardar:(
    arriba:$posicion-estandar-top,
    centrado:$posicion-estandar-center,
    abajo:$posicion-estandar-bottom,
    derecha:$posicion-estandar-rigth,
    relativo:$posicion-estandar-relative,
    automatico:$posicion-estandar-auto
);

$medida-estandar-0:0px;
$medida-estandar-10:10px;
$medida-estandar-25:25px;
$medida-estandar-30:30px;
$medida-estandar-40:40px;
$medida-estandar-50:50px;
$medida-estandar-100:100px;
$medida-estandar-110:110px;
$medida-estandar-200:200px;
$medida-estandar-300:300px;
$medida-estandar-320:320px;
$medida-estandar-350:350px;
$medida-estandar-370:370px;
$medida-estandar-500:500px;
$medida-estandar-536:536px;
$medida-estandar-563:563px;
$medida-estandar-600:600px;
$medida-estandar-700:700px;
$medida-estandar-1000:1000px;

$medidas-estandar:(
    0:$medida-estandar-0,
    10:$medida-estandar-10,
    25:$medida-estandar-25,
    30:$medida-estandar-30,
    40:$medida-estandar-40,
    50:$medida-estandar-50,
    100:$medida-estandar-100,
    110:$medida-estandar-110,
    200:$medida-estandar-200,
    300:$medida-estandar-300,
    320:$medida-estandar-320,
    350:$medida-estandar-350,
    370:$medida-estandar-370,
    500:$medida-estandar-500,
    536:$medida-estandar-536,
    563:$medida-estandar-563,
    600:$medida-estandar-600,
    700:$medida-estandar-700,
    1000:$medida-estandar-1000
);






